:root {
--pColor: #840032;
--pLightColor: #e59500;
--pDarkColor: #002642 ;

--pTextColor: #000000;
--pButtonColor: #fff;
--pPage: #f2f2f2;
--gInput: #fff;

--svgLogo: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23a3d5ff33' d='M2 7 4 6 4 16 12 20 18 17 10 13 10 10 12 11 12 12 22 17 12 22 2 17 2 7M6 5 8 4 8 14 14 17 12 18 6 15 6 5M10 3 12 2 22 7 22 10 20 9 20 8 12 4 12 7 22 12 22 15 20 14 20 13 10 8 10 3'/></svg>");
--svgStart: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23a3d5ff33' d='M 7 17 A 1 1 0 0 0 8 18 A 1 1 0 0 0 9 19 A 1 1 0 0 0 15 19 A 1 1 0 0 0 16 18 A 1 1 0 0 0 17 17 L 17 7 A 1 1 0 0 0 16 6 A 1 1 0 0 0 15 5 A 1 1 0 0 0 9 5 A 1 1 0 0 0 8 6 A 1 1 0 0 0 7 7 Z M 15 8 L 15 16 L 13 16 L 13 8 Z M 9 8 L 11 8 L 11 16 L 9 16 Z'/></svg>");
--svgprofile: url("data/asset/me.jpg");
--svgStart2: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%2384003233' d='M 2 10 L 9 10 L 12 3 L 15 10 L 22 10 L 16 14 L 20 22 L 12 17 L 4 22 L 7 14 Z'/></svg>");



}


/* #profile {
    position: relative;
    width: 100%;
    min-height: 10vh;
    display: flex;
    transition: all 0.5s ease-in-out;
    background-image: var(--svgprofile);

    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: right bottom;
}
#profile .row {background: transparent;} */


#tentangs {
    position: relative;
    width: 100%;
    min-height: 10vh;
    display: flex;
    transition: all 0.5s ease-in-out;

        background-image:
        var(--svgStart),
        var(--svgStart),
        var(--svgStart);


    background-attachment: fixed, fixed, fixed;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 80px 80px, 150px 150px, 300px 300px;
    background-position: 20% 10%, 70% 50%, 40% 90%;
}



#tentang {
    position: relative;
    width: 100%;
    min-height: 10vh;
    display: flex;
    transition: all 0.5s ease-in-out;

        background-image:
        var(--svgStart2),
        var(--svgStart2),
        var(--svgStart2);


    background-attachment: fixed, fixed, fixed;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 80px 80px, 150px 150px, 300px 300px;
    background-position: 20% 10%, 70% 50%, 40% 90%;
}


#tentangs .card {background: transparent;}
#tentangs .card:hover {animation: none;}

#tentang .row {background: transparent;}
